body{
    font-size: 20px;
  }
  
  ul{
    list-style-type: none;
    margin:2px;
    padding: 4px;
    overflow: hidden;
    background-color: rgb(136, 130, 130);
    position: -webkit-sticky; /* Safari */
    position: sticky;
   
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 48.1px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(54, 112, 48);
  }
  
  

